body {
	font-family: monospace;
}
a:link, a:visited {
	color:darkred;
}
.box {
	border: 1px solid black;
	margin: 1em;
	padding: 1em;
}
.box-heavy {
	border: 2px solid black;
}
.no-margin {
	margin:0;
}
.bold {
	font-weight: 600;
}
.btn-link {
	font-size: larger;
	padding-right:2em;
	padding-left:2em;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}