body {
	font-family: monospace;
	max-width: 50%;
}

.box {
	border: 1px solid black;
	margin: 1em;
	padding: 1em;
}

.indent {
	margin-left: 1em;
}

.list {
	list-style-type: none;
}

.bold {
	font-weight: 600;
}
